*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  padding: 1.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #777;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(0.625rem);
            transform: translateX(0.625rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(0.625rem);
            transform: translateX(0.625rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  80% {
    -webkit-transform: translateX(-0.625rem);
            transform: translateX(-0.625rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  80% {
    -webkit-transform: translateX(-0.625rem);
            transform: translateX(-0.625rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes headerButton {
  0% {
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes headerButton {
  0% {
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(2.5rem);
            transform: translateY(2.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-height-tour-card {
  height: 33.2rem;
}

.u-filter-drop-shadow {
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}

.btn {
  margin: 0 auto;
  padding: 1.2rem 2.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.btn a {
  color: #777;
  font-size: 0.95rem;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
  -webkit-box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.3) scaleY(1.5);
          transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-0.05rem);
          transform: translateY(-0.05rem);
  -webkit-box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.2rem;
  border-radius: 2rem;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--white {
  background-color: white;
}

.btn--white a {
  color: #777;
}

.btn--white::after {
  background-color: white;
}

.btn--green {
  background-color: #2ecc71;
}

.btn--green a {
  color: white;
}

.btn--green::after {
  background-color: #2ecc71;
}

.btn--animated {
  position: relative;
  -webkit-animation-name: headerButton;
          animation-name: headerButton;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading--main, .heading--sub {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

.heading--main {
  letter-spacing: 2rem;
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading--sub {
  font-size: 1.5rem;
  letter-spacing: .85rem;
  margin-bottom: 4rem;
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.titleSection {
  display: inline-block;
  font-size: 1.35rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.titleSection--natourTheme {
  background: -webkit-gradient(linear, left top, right top, from(#2ecc708c), to(#249b56ea));
  background: linear-gradient(to right, #2ecc708c, #249b56ea);
  -webkit-background-clip: text;
  color: transparent;
}

.titleSection--seaTheme {
  background: -webkit-gradient(linear, left top, right top, from(#34d2dd8c), to(#40199cea));
  background: linear-gradient(to right, #34d2dd8c, #40199cea);
  -webkit-background-clip: text;
  color: transparent;
}

.titleSection:hover {
  -webkit-transform: skewY(2deg) skewX(20deg) scale(1.1);
          transform: skewY(2deg) skewX(20deg) scale(1.1);
  text-shadow: 0.3rem 1rem 0.8rem rgba(0, 0, 0, 0.2);
}

.titleContent {
  text-transform: uppercase;
  font-size: 1rem;
}

.titleContent--white {
  color: white;
}

.textContent {
  font-size: 1rem;
  line-height: 1.8rem;
}

.textContent:not(:last-of-type) {
  margin-bottom: 2rem;
}

.linkButton {
  display: inline-block;
  padding: .8rem;
  font-size: .9rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.linkButton:hover {
  color: white;
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.linkButton:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.25rem 0.7rem rgba(0, 0, 0, 0.15);
}

.linkButton--green {
  border-bottom: 1px solid #249b56ea;
  color: #249b56ea;
}

.linkButton--green:hover {
  background-color: #249b56ea;
}

.linkButton--blue {
  border-bottom: 1px solid #40199cea;
  color: #40199cea;
}

.linkButton--blue:hover {
  background-color: #40199cea;
}

.galery {
  position: relative;
}

.galery__photo {
  border-radius: 2px;
  -webkit-box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: absolute;
  outline-offset: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.galery__photo--p1 {
  left: 0;
}

.galery__photo--p2 {
  top: 2rem;
  right: 0;
}

.galery__photo--p3 {
  top: 7rem;
  left: 5rem;
}

.galery__photo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 20;
  outline: 0.8rem solid #249b56ea;
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}

.featureCard {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1.8rem;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.featureCard__header {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#2ecc708c), to(#249b56ea));
  background: linear-gradient(to right, #2ecc708c, #249b56ea);
  -webkit-background-clip: text;
  color: transparent;
}

.featureCard__content p {
  line-height: 1.5rem;
}

.featureCard:hover {
  -webkit-transform: translateY(-1rem) scale(1.025);
          transform: translateY(-1rem) scale(1.025);
}

.tourCardFront {
  background-color: white;
}

.tourCardFront__header {
  height: 15rem;
  margin-bottom: 1rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
}

.tourCardFront__header--summer {
  background-color: orange;
  background-image: url("../../../images/nat-5.jpg");
}

.tourCardFront__header--forest {
  background-color: green;
  background-image: url("../../../images/nat-6.jpg");
}

.tourCardFront__header--sea {
  background-color: blue;
  background-image: url("../../../images/nat-7.jpg");
}

.tourCardFront__title {
  position: absolute;
  top: 9rem;
  right: 1rem;
  width: 70%;
  text-align: right;
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
}

.tourCardFront__titleSpanWrapper {
  padding: 0.5rem;
  line-height: 2.5rem;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.tourCardFront__titleSpanWrapper--summer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffd518), to(#f89500));
  background-image: linear-gradient(to right bottom, #ffd518, #f89500);
}

.tourCardFront__titleSpanWrapper--sea {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#34d2dd), to(#40199c));
  background-image: linear-gradient(to right bottom, #34d2dd, #40199c);
}

.tourCardFront__titleSpanWrapper--forest {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#95cc2e), to(#249b56));
  background-image: linear-gradient(to right bottom, #95cc2e, #249b56);
}

.tourCardFront__detail {
  list-style: none;
  padding: 0 2rem 2rem 2rem;
}

.tourCardFront__detail__item {
  font-size: 0.95rem;
  padding-top: 1rem;
}

.tourCardFront__detail__item:not(:last-of-type) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6e4e4;
}

.tourCardBack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.tourCardBack__subtitle {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
}

.tourCardBack__maintitle {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 6rem;
}

.tourCardBack__subtitle, .tourCardBack__maintitle {
  color: white;
}

.tourCardBack--summer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffd518), to(#f89500));
  background-image: linear-gradient(to right bottom, #ffd518, #f89500);
}

.tourCardBack--forest {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#95cc2e), to(#249b56));
  background-image: linear-gradient(to right bottom, #95cc2e, #249b56);
}

.tourCardBack--sea {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#34d2dd), to(#40199c));
  background-image: linear-gradient(to right bottom, #34d2dd, #40199c);
}

.flipCard {
  background: transparent;
  text-align: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flipCard__inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}

.flipCard__inner--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipCard__inner--front, .flipCard__inner--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCard:hover .flipCard__inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.photoCircle {
  width: 10rem;
  border-radius: 50%;
}

.row {
  max-width: 71.25rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row:not(:last-of-type) {
  margin-bottom: 5rem;
}

.row [class^="col-"]:not(:last-of-type) {
  margin-right: 3.75rem;
}

.row .col-1-of-2 {
  width: calc((100% - 3.75rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 3.75rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 3.75rem) / 3 + 3.75rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 3.75rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 3.75rem) / 4 + 3.75rem);
}

.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 3.75rem) / 4 + 2 * 3.75rem);
}

.header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#249b56ea), to(#2ecc708c)), url("../../images/hero.jpg");
  background-image: linear-gradient(to right bottom, #249b56ea, #2ecc708c), url("../../images/hero.jpg");
  background-size: cover;
  height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 4.5rem;
}

.header__title {
  margin: 0 auto;
}

.story {
  width: 56rem;
  padding: 4rem 5rem;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.story:hover .story__image__caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.story:not(:last-of-type) {
  margin-bottom: 6rem;
}

.story__image {
  float: left;
  shape-outside: circle();
  -webkit-shape-outside: circle();
  margin-right: 4rem;
  position: relative;
}

.story__image__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.story__content p {
  line-height: 1.8rem;
}

.aboutSection {
  padding: 15rem 0;
  background-color: rgba(231, 231, 231, 0.3);
  margin-top: -8rem;
}

.aboutSection__title {
  text-align: center;
  margin-bottom: 4rem;
}

.aboutSection__buttonContainer {
  margin-top: 2rem;
}

.features {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#249b56ea), to(#2ecc708c)), url("../../../images/nat-4.jpg");
  background-image: linear-gradient(to right bottom, #249b56ea, #2ecc708c), url("../../../images/nat-4.jpg");
  background-size: cover;
  background-position: right bottom;
  padding: 12rem 0;
  margin-top: -8rem;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

.features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.toursSection {
  padding: 15rem 0;
  margin-top: -6rem;
  background-color: rgba(231, 231, 231, 0.3);
}

.toursSection__title {
  text-align: center;
  margin-bottom: 5rem;
}

.toursSection__bottom {
  text-align: center;
}

.storiesSection {
  background-color: lightblue;
  margin-top: -6rem;
  padding: 8rem 0;
}

.storiesSection__header {
  text-align: center;
  margin-bottom: 6rem;
}

.storiesSection__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

.storiesSection__footer {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */