.story {
  width: 56rem;
  padding: 4rem 5rem;
  background-color: rgba(255, 255, 255, 0.7);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);

  &:not(:last-of-type) {
    margin-bottom: 6rem;
  }

  &__image {
    float: left;
    shape-outside: circle();
    -webkit-shape-outside: circle();
    margin-right: 4rem;
  }

  &__content {
    p {
      line-height: 1.8rem;
    }
  }
}
