.aboutSection {
    padding: 15rem 0;
    background-color: $section-background-color;
    margin-top: -8rem;
    &__title {
      margin-bottom: 4rem;
    }
  
    &__contentLeft {
    }
  
    &__contentRight {
  
    }
}