.aboutSection {
  padding: 15rem 0;
  background-color: $section-background-color;
  margin-top: -8rem;

  &__title {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__buttonContainer {
    margin-top: 2rem;
  }
}

.features {
  background-image: 
      linear-gradient(to right bottom, $green-dark-gradient, $green-light-gradient),
      url('../../../images/nat-4.jpg');
  background-size: cover;
  background-position: right bottom;
  padding: 18rem 0;
  margin-top: -8rem;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}