// COLORS
$green: #e60060e5;
$green-dark-gradient: #249b56ea;
$green-light-gradient: #2ecc708c;

$blue-dark-gradient: #40199cea;
$blue-light-gradient: #34d2dd8c;

$orange-dark-theme: rgb(248, 149, 0);
$orange-light-theme: rgb(255, 213, 24);

$green-dark-theme: #249b56;
$green-light-theme: #95cc2e;

$blue-dark-theme: #40199c;
$blue-light-theme: #34d2dd;

$section-background-color: rgba(231, 231, 231, 0.3);
$black: #777;

// GRID
$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3.75rem;
