.featureCard {
    background-color: rgba($color: white, $alpha: .8);
    box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: .15);
    padding: 1.8rem;
    text-align: center;
    
    &__header {
        display: block;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 3.5rem;
        color: $green-dark-gradient;
    }

    &__content p{
        line-height: 1.5rem;
    }

    transition: all .3s;

    &:hover {
        transform: translateY(-1rem) scale(1.025);    
    }
}