.heading {
    &--main, &--sub {
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: 400;
    }
    &--main {
        letter-spacing: 2rem;
        font-size: 3.5rem;
        margin-bottom: 1.2rem;
        animation-name: moveInLeft;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
    }
    &--sub {
        font-size: 1.5rem;
        letter-spacing: .85rem;
        margin-bottom: 4rem;
        animation-name: moveInRight;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
    }
}