.linkButton {
    display: inline-block;
    padding: .8rem;
    font-size: .9rem;
    text-decoration: none;
    transition: all .2s;

    &:hover {
        color: white;
        transform: translateY(-.15rem);
        box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: .15);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 .25rem .7rem rgba($color: #000000, $alpha: .15);
    }

    &--green {
        border-bottom: 1px solid $green-dark-gradient;;
        color: $green-dark-gradient;
        &:hover {
            background-color: $green-dark-gradient;
        }
    }

    &--blue {
        border-bottom: 1px solid $blue-dark-gradient;;
        color: $blue-dark-gradient;
        &:hover {
            background-color: $blue-dark-gradient;
        }
    }
}