.titleSection {
    text-align: center;
    font-size: 1.35rem;
    text-transform: uppercase;
    letter-spacing: 3px;

    &--natourTheme {
        @include getTheme(natour);
    }
    &--seaTheme {
        @include getTheme(sea);
    }
}