.tourCardFront {
  background-color: white;
  &__header {
    height: 15rem;
    margin-bottom: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    background-blend-mode: screen;
    background-size: cover;
    background-position: center;

    &--summer {
      background-color: orange;
      background-image: url("../../../images/nat-5.jpg");
    }
    &--natour {
      background-color: green;
      background-image: url("../../../images/nat-6.jpg");
    }
    &--sea {
      background-color: blue;
      background-image: url("../../../images/nat-7.jpg");
    }

    &__title {
      font-weight: 300;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }

  &__detail {
    list-style: none;
    padding: 0 2rem 2rem 2rem;
    &__item {
      font-size: 0.95rem;
      padding-top: 1rem;
      &:not(:last-of-type) {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(230, 228, 228);
      }
    }
  }
}

.tourCardBack {
  height: 100%;
  &__subtitle {
    text-transform: uppercase;
    font-weight: 300;
  }
  &__maintitle {
    font-size: 4rem;
    font-weight: 100;
  }
  &__subtitle,
  &__maintitle {
    color: white;
  }

  &--summer {
    background-image: linear-gradient(
      to right bottom,
      $orange-light-gradient,
      $orange-dark-gradient
    );
  }

  &--forest {
    background-image: linear-gradient(
      to right bottom,
      $green-light-gradient,
      $green-dark-gradient
    );
  }
}
