.tourCardFront {
  background-color: white;
  &__header {
    height: 15rem;
    margin-bottom: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    background-blend-mode: screen;
    background-size: cover;
    background-position: center;

    &--summer {
      background-color: orange;
      background-image: url("../../../images/nat-5.jpg");
    }
    &--forest {
      background-color: green;
      background-image: url("../../../images/nat-6.jpg");
    }
    &--sea {
      background-color: blue;
      background-image: url("../../../images/nat-7.jpg");
    }
  }

  &__title {
    position: absolute;
    top: 9rem;
    right: 1rem;
    width: 70%;
    text-align: right;

    font-weight: 300;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
  }

  &__titleSpanWrapper {
    padding: 0.5rem;
    line-height: 2.5rem;
    box-decoration-break: clone;
    &--summer {
      background-image: linear-gradient(
        to right bottom,
        $orange-light-theme,
        $orange-dark-theme
      );
    }
    &--sea {
      background-image: linear-gradient(
        to right bottom,
        $blue-light-theme,
        $blue-dark-theme
      );
    }
    &--forest {
      background-image: linear-gradient(
        to right bottom,
        $green-light-theme,
        $green-dark-theme
      );
    }
  }

  &__detail {
    list-style: none;
    padding: 0 2rem 2rem 2rem;
    &__item {
      font-size: 0.95rem;
      padding-top: 1rem;
      &:not(:last-of-type) {
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(230, 228, 228);
      }
    }
  }
}

.tourCardBack {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__subtitle {
    text-transform: uppercase;
    font-weight: 300;
  }
  &__maintitle {
    font-size: 4rem;
    font-weight: 100;
  }
  &__subtitle,
  &__maintitle {
    color: white;
  }

  &--summer {
    background-image: linear-gradient(
      to right bottom,
      $orange-light-theme,
      $orange-dark-theme
    );
  }

  &--forest {
    background-image: linear-gradient(
      to right bottom,
      $green-light-theme,
      $green-dark-theme
    );
  }

  &--sea {
    background-image: linear-gradient(
      to right bottom,
      $blue-light-theme,
      $blue-dark-theme
    );
  }
}
